<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- <div>edit</div>
    <a href="./list_example.html" th:href="@{/commonCode/list}">list</a>
    <a href="./read_example.html" th:href="@{/commonCode/read}">read</a>
    <a href="./edit_example.html" th:href="@{/commonCode/edit}">edit</a>
 -->

    <form th:action="@{/commonCode/read}">
        <input type="text" placholder="name" name="NAME">
        <input type="text" name="PASSWORD">
        <button type="submit">submit</button>
    </form>
</body>

</html>