<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>
    </script>
</head>

<body>
    <!-- <div>read</div> -->
    <!-- <a href="./list_example.html" th:href="@{/commonCode/list}">list</a>
    <a href="./read_example.html" th:href="@{/commonCode/read}">read</a>
    <a href="./edit_example.html" th:href="@{/edit}">edit</a> -->
    <span th:text="${resultMap.name}"></span>
    <!--<span th:text=${paramMap.DESCRIPTION}></span>-->
</body>

</html>